# Makefile.in
src/server/Makefile
src/client/Makefile
src/client/tools/Makefile
src/client/test/Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dSYM
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
src/server/fdir_serverd
src/client/tools/fdir_mkdir
src/client/tools/fdir_list
src/client/tools/fdir_remove
src/client/tools/fdir_cluster_stat
src/client/tools/fdir_service_stat
src/client/tools/fdir_stat
src/client/tools/fdir_rename
src/client/tools/fdir_setxattr
src/client/tools/fdir_getxattr
src/client/tools/fdir_list_servers
src/client/test/test_mkdir
src/client/test/test_flock

# other
logs
*.pid
*.swp
*.swo
