[Unit]
Description=fastdir service
After=network.target

[Service]
Type=forking
Environment=CONF=/etc/fastcfs/fdir/server.conf
ExecStart=/usr/bin/fdir_serverd ${CONF} start
ExecStop=/usr/bin/fdir_serverd ${CONF} stop
ExecReload=/usr/bin/fdir_serverd ${CONF} restart
ExecRestart=/usr/bin/fdir_serverd ${CONF} restart

# Disable OOM kill on the postmaster
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
